<div class="card">
    <img class="card__image" src="https://placecats.com/millie/300/300" alt="cat image" />
    <p class="card__text"> THIS IS MILLIE. SHE IS THE CUTEST! </p>
    <img class="card__image" src="https://placecats.com/neo_2/300/300" alt="cat image" />
    <p class="card__text"> THIS IS NEO. HE IS THE CUTEST! </p>
    <img class="card__image" src="https://placecats.com/bella/300/300" alt="cat image" />
    <p class="card__text"> THIS IS BELLA. SHE IS THE CUTEST! </p>
</div>